<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password - The Royal Coding</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body class="bg-gray-100 flex justify-center items-center h-screen">
    <div class="w-full max-w-md">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <div class="container mt-4">
            {% for category, message in messages %}
            <div class="alert {{ 'bg-red-100 border-red-400 text-red-700' if category == 'error' else 'bg-green-100 border-green-400 text-green-700' }} px-4 py-3 rounded relative mb-4">
                <strong class="font-bold">{{ 'Error: ' if category == 'error' else 'Success: ' }}</strong>
                <span class="block sm:inline">{{ message }}</span>
                <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                    <svg class="fill-current h-6 w-6 text-{{ 'red' if category == 'error' else 'green' }}-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" onclick="this.parentElement.parentElement.style.display='none'">
                        <title>Close</title>
                        <path d="M14.348 14.849a.5.5 0 01-.708 0L10 11.207l-3.64 3.642a.5.5 0 01-.708-.707l3.64-3.641-3.64-3.642a.5.5 0 11.708-.707L10 9.793l3.64-3.641a.5.5 0 01.708.707l-3.64 3.642 3.64 3.641a.5.5 0 010 .708z" />
                    </svg>
                </span>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        
        <div class="bg-white p-8 rounded shadow-md w-full">
            <h2 class="text-2xl font-bold mb-4"><i class="fas fa-lock ml-2 mr-2 mb-2"></i>Recover Password</h2>
            <p class="text-md">Enter your <b>email</b>. We'll send a<b> link </b>for password change.</p>
            <form method="post">
                <div class="mb-4">
                    <label for="email" class="block text-sm font-medium text-gray-700">
                        <i class="fas fa-envelope mr-2"></i>Email *
                    </label>
                    <input type="email" id="email" name="email" required class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                </div>
                <button type="submit" class="w-full text-white rounded py-2" style="background-color: #ffa500;"><i class="fas fa-sign-in-alt"></i> Submit</button>
            </form>
            <div class="text-center mt-4">
                <a href="/login" class="mr-4 ml-4" style="color: #ffa500;">Login Now <i class="fas fa-sign-in-alt"></i></a>
                <a href="/signup" style="color: #ffa500;">Register Now <i class="fas fa-user-plus"></i></a>
            </div>
        </div>
    </div>
</body>

</html>
