{% extends "base.html" %}
{% block title %}My blogs posts{% endblock %}

{% block content %}
<section class="text-gray-700 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <h1 class="mb-4 text-3xl font-bold">My Blog Posts</h1>
    <div class="-my-8 divide-y-2 divide-gray-100">

      {% if posts %}
      {% for post in posts %}
      <div class="py-8 flex flex-wrap md:flex-nowrap border-b ">
        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="mt-1 text-gray-700 text-sm">{{ post.date_posted.strftime('%d-%m-%Y') }}</span>
          
        </div>
        <div class="md:flex-grow">
          <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">{{ post.title }}</h2>
          <!-- <p class="leading-relaxed">{{ post.content | safe }}</p> -->
          <p class="leading-relaxed post-card-content">{{ post.content  | safe}}</p>
          <a href="{{ url_for('views.blog', post_endpoint=post.endpoint) }}" class="inline-flex items-center mt-4" style="color: #ffa500;">Learn More
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      {% endfor %}
      {% else %}

      <div class="py-8 flex justify-center">
        <h3 class="text-gray-500">No posts available</h3>
      </div>

      {% endif %}

    </div>
  </div>
</section>
{% endblock %}
